target/
*.log
*.tmp

.idea/
*.iml

.mvn/wrapper/
/src/
/git_repo/Payment_System/src/
/Payment_System/target/
/java/
/resources/
/git_repo/
/Payment_System/target/

# build artifacts
/target/
/Payment_System/target/

# build artifacts
/target/
/Payment_System/target/
